html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  color: #145b1d;
  background-color: #fff;
  border: 3px solid rgba(16, 52, 41, .8);
}

.banner {
  background-image:
    linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)),
    url("../images/banner.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid #2d5a4d;
}

.banner-content {
  color: #fff;
  background-image: url("../images/two-leaves.svg");
  padding-top: 300px;
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: .75em 180px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
