html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
    background-image: url("../images/leaf-bg.svg");
    background-size: 64px auto;
    border
    border-color: #145b1d;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  color: #2d5a4d;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
}

.banner-content {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
